@import url('https://fonts.googleapis.com/css?family=Lato');

body{
	background:#ecf1f3;
}

/*-------------------------------------------------------------------
    tb preloader
-------------------------------------------------------------------*/
#tb-preloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999;
    display: block;
    background: #fff;
}
.tb-preloader-wave {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 192px;
    height: 192px;
    margin: -81px 0 0 -81px;
}
.tb-preloader-wave:before,
.tb-preloader-wave:after {
    position: absolute;
    display: inline-block;
    content: "";
    width: 192px;
    height: 192px;
    border-radius: 50%;
    background: url(../img/loader.png);
    -webkit-animation: preloader-wave 1.6s linear infinite;
    animation: preloader-wave 1.6s linear infinite;
}
.tb-preloader-wave:after {
    animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
}
@keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        transform: scale(0, 0);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@-webkit-keyframes preloader-wave {
    0% {
        -webkit-transform: scale(0, 0);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
        filter: alpha(opacity=0);
    }
}

/* ------------------------------------------------------------- *
 *  Header Style
/* ------------------------------------------------------------- */

#header{
	background:#1e64a1;
	font-family: 'Lato', sans-serif;
	margin-bottom: 20px;
	z-index:9;
}

.logo{
	padding:6px 15px !important;
}

.sticky{
	position:fixed;
	top:0;
	left:0;
	right:0;
	margin-bottom: 20px;
	z-index:9;
}

/* ------------------------------------------------------------- *
 *  Typography
/* ------------------------------------------------------------- */

section{
	padding:70px 0;
}

@media (min-width:1900px) {
	.container {
		width: 1600px
	}
}

/*-- Padding --*/

.no-padding{
	padding:0;
}

.p-top-0{
	padding-top:0;
}

.p-top-5{
	padding-top:5px;
}

.p-top-10{
	padding-top:10px;
}

.p-top-15{
	padding-top:15px;
}

.p-top-20{
	padding-top:20px;
}

.p-top-25{
	padding-top:25px;
}

.p-top-30{
	padding-top:30px;
}

.p-top-35{
	padding-top:35px;
}

.p-bottom-0{
	padding-bottom:0;
}

.p-bottom-5{
	padding-bottom:5px;
}

.p-bottom-10{
	padding-bottom:10px;
}

.p-bottom-15{
	padding-bottom:15px;
}

.p-bottom-20{
	padding-bottom:20px;
}

.p-bottom-25{
	padding-bottom:25px;
}

.p-bottom-30{
	padding-bottom:30px;
}

.p-bottom-35{
	padding-bottom:35px;
}

/* ------------------------------------------------------------- *
 *  Menu Style
/* ------------------------------------------------------------- */

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom:0;
	border: 1px solid transparent
}

@media (min-width:768px) {
	.navbar {
		border-radius: 0;
	}
}

@media (min-width:768px) {
	.navbar-header {
		float: left
	}
}

.navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1)
}

.navbar-collapse.in {
	/*overflow-y: auto*/
	overflow-y: hidden
}

@media (min-width:768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}
	.navbar-collapse.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important
	}
	.navbar-collapse.in {
		overflow-y: visible
	}
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
		padding-right: 0;
		padding-left: 0
	}
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 340px
}

@media (max-device-width:480px) and (orientation:landscape) {
	.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
		max-height: 200px
	}
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
	margin-right: -15px;
	margin-left: -15px
}

@media (min-width:768px) {
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
		margin-right: 0;
		margin-left: 0
	}
}

.navbar-static-top {
	z-index: 1000;
	border-width: 0 0 1px
}

@media (min-width:768px) {
	.navbar-static-top {
		border-radius: 0
	}
}

.navbar-fixed-bottom, .navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030
}

@media (min-width:768px) {
	.navbar-fixed-bottom, .navbar-fixed-top {
		border-radius: 0
	}
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px
}

.navbar-fixed-bottom {
	bottom: 0;
	margin-bottom: 0;
	border-width: 1px 0 0
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px
}

.navbar-brand:focus, .navbar-brand:hover {
	text-decoration: none
}

.navbar-brand>img {
	display: block
}

@media (min-width:768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: -15px
	}
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px
}

.navbar-toggle:focus {
	outline: 0
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 4px
}

@media (min-width:768px) {
	.navbar-toggle {
		display: none
	}
}

	.navbar-nav {
		margin: 7.5px -15px
	}
	
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 20px
	}

@media (max-width:767px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin: 0;
		padding:0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}
	
	.navbar-nav .open .dropdown-menu li{
		padding:0;
	}
	
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
		padding: 5px 15px 5px 25px
	}
	
	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 20px
	}
	
	.navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover {
		background-image: none
	}
}

@media (min-width:768px) {
	.navbar-nav {
		float: left;
		margin: 0
	}
	
	.navbar-nav>li {
		float: left
	}
	
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px
	}
}

.navbar-form {
	padding: 10px 15px;
	margin-top: 8px;
	margin-right: -15px;
	margin-bottom: 8px;
	margin-left: -15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1)
}

@media (min-width:768px) {
	.navbar-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle
	}
	
	.navbar-form .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle
	}
	
	.navbar-form .form-control-static {
		display: inline-block
	}
	
	.navbar-form .input-group {
		display: inline-table;
		vertical-align: middle
	}
	
	.navbar-form .input-group .form-control, .navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn {
		width: auto
	}
	
	.navbar-form .input-group>.form-control {
		width: 100%
	}
	
	.navbar-form .control-label {
		margin-bottom: 0;
		vertical-align: middle
	}
	
	.navbar-form .checkbox, .navbar-form .radio {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle
	}
	
	.navbar-form .checkbox label, .navbar-form .radio label {
		padding-left: 0
	}
	
	.navbar-form .checkbox input[type=checkbox], .navbar-form .radio input[type=radio] {
		position: relative;
		margin-left: 0
	}
	
	.navbar-form .has-feedback .form-control-feedback {
		top: 0
	}
}

@media (max-width:767px) {
	.navbar-form .form-group {
		margin-bottom: 5px
	}
	
	.navbar-form .form-group:last-child {
		margin-bottom: 0
	}
}

@media (min-width:768px) {
	.navbar-form {
		width: auto;
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 0;
		margin-left: 0;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none
	}
}

.navbar-nav>li>.dropdown-menu {
	/*position:fixed;
	top:50px;
	left:0;
	right:0;*/
    margin: 0;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.navbar-fixed-bottom .navbar-nav>li>.dropdown-menu {
	margin-bottom: 0;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0
}

.navbar-btn {
	margin-top: 8px;
	margin-bottom: 8px
}

.navbar-btn.btn-sm {
	margin-top: 10px;
	margin-bottom: 10px
}

.navbar-btn.btn-xs {
	margin-top: 14px;
	margin-bottom: 14px
}

.navbar-text {
	margin-top: 15px;
	margin-bottom: 15px
}

@media (min-width:768px) {
	.navbar-text {
		float: left;
		margin-right: 15px;
		margin-left: 15px
	}
}

@media (min-width:768px) {
	.navbar-left {
		float: left!important
	}
	
	.navbar-right {
		float: right!important;
		margin-right: -15px
	}
	
	.navbar-right~.navbar-right {
		margin-right: 0
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}
	.navbar-header {
		float: none;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		/*margin: 7.5px -15px;*/
		margin: 0 50px 0 -15px
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.navbar-text {
		float: none;
		margin: 15px 0;
	}
	/* since 3.1.0 */
	.navbar-collapse.collapse.in { 
		display: block!important;
	}
	.collapsing {
		overflow: hidden!important;
	}
}

/*--- Corner Menu ---*/

.navbar-corner{
	border:none;	
}

.navbar-corner .navbar-brand {
	color: #FFF
}

.navbar-corner .navbar-brand:focus, .navbar-corner .navbar-brand:hover {
	color: #FFF;
	background-color: transparent
}

.navbar-corner .navbar-text {
	color: #FFF
}

.navbar-corner ul.navbar-nav{
	padding:0;	
}

.navbar-corner .navbar-nav>li{
	margin-right:0;
	padding: 0;	
}

.navbar-corner .navbar-nav>li:last-child{
	margin-right:0;	
}

.navbar-corner .navbar-nav>li>a {
	color: #FFF;
	padding:15px 10px;
	transition: all 0.1s ease;
}

.navbar-corner .navbar-nav>li>a:focus, .navbar-corner .navbar-nav>li>a:hover {
	color: #FFF;
	background-color: transparent
}

.navbar-corner .navbar-nav>.active>a, .navbar-corner .navbar-nav>.active>a:focus, .navbar-corner .navbar-nav>.active>a:hover {
	color: #FFF;
	background-color:transparent;
}

.navbar-corner .navbar-nav>.disabled>a, .navbar-corner .navbar-nav>.disabled>a:focus, .navbar-corner .navbar-nav>.disabled>a:hover {
	color: #FFF;
	background-color: transparent;
}

.navbar-corner .navbar-nav>li>a i{
    float: right;
    font-size: 16px;
    margin: 0 0 0 10px;
}

.navbar-corner .navbar-toggle {
	border-color: transparent
}

.navbar-corner .navbar-toggle:focus, .navbar-corner .navbar-toggle:hover {
	background-color: transparent
}

.navbar-corner .navbar-toggle .icon-bar {
	background-color: #FFF
}

.navbar-corner .navbar-collapse, .navbar-corner .navbar-form {
	border-color: #1e64a1
}

.navbar-corner .navbar-nav>.open>a, .navbar-corner .navbar-nav>.open>a:focus, .navbar-corner .navbar-nav>.open>a:hover {
	color: #FFF;
	background-color: transparent
}

.navbar-corner .dropdown .dropdown-menu li{
	list-style:none;
	padding: 0;
}

.navbar-corner .dropdown:hover .dropdown-menu li{
	list-style:none;
	padding:0 !important;
	border:none;
	display:block;
}

.navbar-corner  .dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #FFF;
    white-space: nowrap;
}

.navbar-corner .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus{
	color:#FFF;
	background:#444;
}

.navbar-corner .dropdown-menu>.active>a, .dropdown-menu>.active>a:hover, .dropdown-menu>.active>a:focus{
	background:transparent;
}

.navbar-corner .navbar-nav>li:nth-child(1).dropdown .dropdown-menu,
.navbar-corner .navbar-nav>li:nth-child(1).dropdown:hover .dropdown-menu{
	background:#193B56;
	border: none;
	box-shadow:none;
}

.navbar-corner .navbar-nav>li:nth-child(2).dropdown .dropdown-menu,
.navbar-corner .navbar-nav>li:nth-child(2).dropdown:hover .dropdown-menu{
	background:#00afef;
	border: none;
	box-shadow:none;
}

.navbar-corner .navbar-nav>li:nth-child(3).dropdown .dropdown-menu,
.navbar-corner .navbar-nav>li:nth-child(3).dropdown:hover .dropdown-menu{
	background:#faab33;
	border: none;
	box-shadow:none;
}

.navbar-corner .navbar-nav>li:nth-child(4).dropdown .dropdown-menu,
.navbar-corner .navbar-nav>li:nth-child(4).dropdown:hover .dropdown-menu{
	background:#ee4797;
	border: none;
	box-shadow:none;
}

.navbar-corner .navbar-nav>li:nth-child(5).dropdown .dropdown-menu,
.navbar-corner .navbar-nav>li:nth-child(5).dropdown:hover .dropdown-menu{
	background:#21b354;
	border: none;
	box-shadow:none;
}

@media (max-width:767px) {
	.navbar-corner .navbar-nav{
		margin:0 -15px;
	}
	
	.navbar-corner ul.navbar-nav{
		padding:0;
	}
	
	.navbar-corner .navbar-nav>li {
		margin: 0;
		padding:0;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navbar-corner .dropdown:hover .dropdown-menu {
		display: block;
		border-radius:0;
		padding:0;
		margin:0;
		-webkit-animation: flipInX 400ms;
		animation: flipInX 400ms;
	}
	
	.navbar-corner .dropdown:hover .dropdown-menu .dropdown-submenu .dropdown-menu {
		display: none;
	}
	
	.navbar-corner .dropdown .dropdown-menu .dropdown-submenu:hover .dropdown-menu {
		display: block;
		-webkit-animation: fadeInRight 400ms;
		animation: fadeInRight 400ms;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-corner .dropdown:hover .dropdown-menu {
		display: block;
		-webkit-animation: flipInX 400ms;
		animation: flipInX 400ms;
	}
	
	.navbar-corner .dropdown:hover .dropdown-menu .dropdown-submenu .dropdown-menu {
		display: none;
	}
	
	.navbar-corner .dropdown .dropdown-menu .dropdown-submenu:hover .dropdown-menu {
		display: block;
		-webkit-animation: fadeInRight 400ms;
		animation: fadeInRight 400ms;
	}
}

@media (min-width: 1200px) {
	.navbar-corner .dropdown:hover .dropdown-menu {
		display: block;
		border-radius:0;
		padding:0;
		margin:0;

		-webkit-animation: flipInX 400ms;
		animation: flipInX 400ms;
	}
	
	.navbar-corner .dropdown:hover .dropdown-menu .dropdown-submenu .dropdown-menu {
		display: none;
	}
	
	.navbar-corner .dropdown .dropdown-menu .dropdown-submenu:hover .dropdown-menu {
		display: block;
		-webkit-animation: fadeInRight 400ms;
		animation: fadeInRight 400ms;
	}
}

.navbar-corner .navbar-link {
	color: #FFF
}
.navbar-corner .navbar-link:hover {
	color: #FFF
}
.navbar-corner .btn-link {
	color: #FFF
}
.navbar-corner .btn-link:focus, .navbar-corner .btn-link:hover {
	color: #fff
}
.navbar-corner .btn-link[disabled]:focus, .navbar-corner .btn-link[disabled]:hover, fieldset[disabled] .navbar-corner .btn-link:focus, fieldset[disabled] .navbar-corner .btn-link:hover {
	color: #444
}

/* ------------------------------------------------------------- *
 *  Hamburger Animation
/* ------------------------------------------------------------- */

.navbar-hamburger-slider .icon-bar:nth-of-type(2) {
	top: 1px;
}

.navbar-hamburger-slider .icon-bar:nth-of-type(3) {
  	top: 2px;
}

.navbar-hamburger-slider .icon-bar {
	  position: relative;
	  transition: all 500ms ease-in-out;
}

.navbar-hamburger-slider.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-hamburger-slider.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-hamburger-slider.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

/* ------------------------------------------------------------- *
 *  Main Silder
/* ------------------------------------------------------------- */

#mainslider{
	padding:0;
}

#home-intro{
	overflow-y: hidden;
}

.intro-box{ 
	position: relative;
	padding: 2%;
	border: 1px solid #cdd1d3;
	border-radius: 10px;
	background-color: #fff;
	margin: 0; 
	font-family: 'FS-Albert-Light', Arial, Helvetica, sans-serif;
}

.idea{ 
	position: relative;
	width: 100%;
	text-align: center;
	padding-top: 5em;
	-webkit-transition: visibility 2s ease;
	-o-transition: visibility 2s ease;
	transition: visibility 2s ease;
}

.visibile-me{
	visibility: visible;
	-webkit-transition: visibility 2s ease;
	-o-transition: visibility 2s ease;
	transition: visibility 2s ease;
}

.idea h3{
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	color: #1e64a1;
	font-size: 20px;
	line-height: 1.5em;
}

.idea p.dream-text{
	font-family: 'Lato', sans-serif;
	color: #00afef;
	margin: 0;
}

p.dream-text{
	font-size: 1.35em;
}

p.dream-text.big{
	font-size: 1.65em;
	line-height: 1.5em;
}

div.line{ 
	position: relative;
	width: 0;
	height: 2px;
	margin: 1.4em auto 1em;
	background-color: #1e64a1;
}

div.line.width80p{
	width: 80%;
	-webkit-transition: width .5s ease;
	-o-transition: width .5s ease;
	transition: width .5s ease;
}

div.line.width0p{
	width: 0%;
	-webkit-transition: width .5s ease;
	-o-transition: width .5s ease;
	transition: width .5s ease;
}

.down.animated, .up.animated{
	animation-duration: 1.5s;
}

.line:before {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #1E64A1;
	left: 0;
	top: -4px;
	border-radius: 10px;
}

.line:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #1E64A1;
	right: 0;
	top: -4px;
	border-radius: 10px;
}

.idea p.tagline{
	color: #052b54;
	font-size: 1.1em;
	line-height: 1.5em;
	margin:0;
}
	
.head-infographics{
	position: absolute;
	right: 20px;
	top: 0;
	float: right; 
}
.head-infographics .unstyled li{
	list-style:none;
	margin-left: 10px;
	width: 38px;
	height: 49px;
	position: relative;
	float: left;
	background: no-repeat center center;
}
.unstyled li.h1{
	/*background-image: url('../img/intro/head1.png') !important;*/
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
}
.unstyled li.h2{
	/*background-image: url('../img/intro/head2.png') !important;*/
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}
.unstyled li.h3{
	/*background-image: url('../img/intro/head3.png') !important;*/
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}

.welcome-text{
	background: url('../img/intro/seperator-vertical.jpg') no-repeat left center;
	padding: 2% 5%;
}

.welcome-text>h3{
	color: #21b354;
	font-size: 1.5em;
	line-height: 2.5em;
	margin-top:0;
}
.welcome-text>.text{
	margin-bottom: 1em;
}
.welcome-text p{
	font-size: 1.05em;
	line-height: 1.75em;
}

/* ------------------------------------------------------------- *
 *  Intro Full Screen Video
/* ------------------------------------------------------------- */
video#video_background{
	/*visibility: hidden;*/
	display: none;
	height: 100%;
	z-index: 3 !important;
	/*width: 100% !important;*/
	max-width: 100% !important;
	/*height: 100% !important;*/
	left: auto;
	right: auto;
	background-color: #000;
	transition: none;  
	object-fit: cover !important;
}

.video-controls{
	position: fixed;
	width: 100%;
	text-align: center;
	height: auto;
	/*background: red;*/
	z-index: 4;
	bottom: 0; 
	padding-bottom: .75em;
} 
.video-controls button{
	background-color: none;
	border: none;
}
.video-controls button:focus{ 
	outline: none;
}
#play{
	position: absolute;
	left: 1%;
	top: 15px;
	width: 36px;
	height: 36px;
	background:url(../img/play-pause.png) no-repeat 0 0;
	display:none;
}
#pause{
	position: absolute;
	left: 1%;
	top: 15px;
	width: 36px;
	height: 36px; 
	background:url(../img/play-pause.png) no-repeat 0 -36px;
}
#skip{
	width: auto;
	color: #fff;
	height: 50px;
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	background:url(../img/scroll-down.png) no-repeat center 0;
	line-height: 5em;
	/*background-color: #02457C;*/
}

#fullscreen{
	position: absolute;
	right: 1%;
	top: 15px;
	width: 32px;
	height: 32px;
	background:url(../img/fullscreen-icon.png) no-repeat 0 0;
}

#videoPosterImg{
	background: url('../video/poster.jpg') 50% 50% no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	position: absolute; /*fixed*/
	z-index: 3;
	width: 100%;
	height: 100%;
	display: none; 
}

/* ------------------------------------------------------------- *
 *  Colorbox
/* ------------------------------------------------------------- */

#cboxLoadedContent img{
	display:block;
	max-width:100%;
	height:auto;
}

/* ------------------------------------------------------------- *
 *  Isotope Grid
/* ------------------------------------------------------------- */

ul.isotope-options{
    margin: 25px auto;
    text-align: center;
    font-size: 12px;
    color: #cacaca;
    position: relative;
    width: 100%;
}

ul.isotope-options li{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.isotope-options li a{
	padding: 0 15px;
    display: inline-block;
	text-transform:uppercase;
    width: 100%;
	height: 40px;
	line-height: 40px;
    background: #f2f2f2;
    color: #000;
    text-decoration: none;
	
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

ul.isotope-options li a:hover{
	background:#333;
	color:#FFF;
}

ul.isotope-options li a.selected{
	background:#333;
	color:#FFF;
}


ul.isotope-container{
	padding:0;
}

ul.isotope-container li{
	list-style:none;
	margin:0;
}

#web-media ul.isotope-options li a{
	background:#00afef;
	color:#FFF;
}

#web-media ul.isotope-options li a:hover{
	background:#0297ce;
	color:#FFF;
}

#web-media ul.isotope-options li a.selected{
	background:#0297ce;
	color:#FFF;
}

#mobile-media ul.isotope-options li a{
	background:#faab33;
	color:#FFF;
}

#mobile-media ul.isotope-options li a:hover{
	background:#eaa02f;
	color:#FFF;
}

#mobile-media ul.isotope-options li a.selected{
	background:#eaa02f;
	color:#FFF;
}

#digital-media ul.isotope-options li a{
	background:#ee4797;
	color:#FFF;
}

#digital-media ul.isotope-options li a:hover{
	background:#bf3678;
	color:#FFF;
}

#digital-media ul.isotope-options li a.selected{
	background:#bf3678;
	color:#FFF;
}

#print-media ul.isotope-options li a{
	background:#21b354;
	color:#FFF;
}

#print-media ul.isotope-options li a:hover{
	background:#1da04b;
	color:#FFF;
}

#print-media ul.isotope-options li a.selected{
	background:#1da04b;
	color:#FFF;
}

.isotope-element {  
	height: auto;
    float: left;
    padding: 1%;
}

.isotope-element {   
	width: 16.666666%;   
}
	
.isotope { 
	max-width: 1600px; 
}

@media (min-width:100px) and (max-width:480px){	
	ul.isotope-options li{
		margin:0 15px;
		display:block;
		border-bottom: 1px solid #fff;
	}
	
	ul.isotope-options li:last-child{
		display:block;
		border-bottom:none;
	}
	
	ul.isotope-options li a{
		width:100%;
	}
	
	.isotope-element {   
		width: 100%;/*290px*/   
	}
}  

@media (min-width:480px) and (max-width:768px){
	.isotope-element {   
		width: 50%;/*290px*/   
	}
}

@media (min-width:768px) and (max-width: 991px){
	.isotope-element {   
		width: 33.333333%; 
	}
} 

@media (min-width: 991px) and (max-width: 1200px) {
	.isotope-element {   
		/*width: 25%;*/
		width: 25%;  
	}
}

@media (min-width: 1200px) and (max-width: 1600px) {
	.isotope-element {   
		/*width: 25%;*/
		width: 20%;  
	}
}

/*@media screen and (min-width: 1281px) {
	.isotope-element {   
		width: 22.43%;   
	}
	
	.isotope { 
		max-width: 1600px; 
	}
}*/

/* ------------------------------------------------------------- *
 *  Intro Full Screen Video
/* ------------------------------------------------------------- */

.modal {
	text-align: center;
	padding: 0!important;
}

.modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

.modal-content{
	padding:0;
	height: auto;
	min-height: 100%;
	border-radius: 0;	
}

.modal-body{
	padding:0;
	height: auto;
	min-height: 100%;
}

a.btn-close{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    color: #FFF;
    background: #FFF url(../img/close.png) no-repeat;
	background-position: 5px;
    border-radius: 0;
	opacity:0.4;
    z-index: 9;
	
	-webkit-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

a.btn-close i{
	font-size:18px;
}

a.btn-close:hover{
	opacity:1;
}

#home-intro .mediaelement-video{
	height: auto;
	min-height: 100%;
}

#home-intro .mejs-container{
	width: 100% !important;
	height: 100vh !important;
}

#home-intro .mejs-poster,
#home-intro .mejs-overlay,
#home-intro .mejs-overlay-play{
	width: 100% !important;
	height: 100vh !important;
}

#home-intro .mejs-mediaelement audio, 
#home-intro .mejs-mediaelement canvas, 
#home-intro .mejs-mediaelement progress, 
#home-intro .mejs-mediaelement video {
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
    height: 100vh;
}

/*#home-intro .mejs-overlay-button{
	display:none;
}*/

/* ------------------------------------------------------------- *
 *  Project Style
/* ------------------------------------------------------------- */
.project-wrapper{
	margin:15px;
}

.project{
	width: 100%;
    background: #fff;
    border: 1px solid #cdd1d3;
    border-radius: 7px;
    overflow: hidden;
    font-size: 1em;
    font-family: 'FS-Albert-Light', Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 1;
}

.project .project-img{
	margin:0 auto;
	padding:0;
	text-align:center;
	clear:both;
}

.project .project-img img{
	display:inline-block;
	max-width:100%;
	height: 200px;
}

.isotope-element .project-img img{	
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	cursor: pointer; 
}

.isotope-element:hover .project-img img{	
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

ul.isotope-options li a .cbp-filter-counter{
    position: relative;
	background:#000;
	color:#FFF;
    text-align: center;
    margin: -40px auto 0;
    width: 40px;
	top:0;
    right: 0;
    left: 0;
    display: block;
	opacity:0;
    z-index: 9;
	
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

ul.isotope-options li a:hover .cbp-filter-counter{
	display:block;
	top:-40px;
	opacity:1
}

.project-title{
	padding:0;
	margin:0;
}

.project-title h3{
	font-family: 'Lato', sans-serif;
    margin: 0;
    padding: .5em .75em;
    line-height: 1.2em;
    font-size: 1.25em;
}

.about-project{
    padding: .75em;
	border-bottom:1px solid #f3f3f3;
	border-top:1px solid #f3f3f3;
}

.about-project p{
	font-family: 'Lato', sans-serif;
	margin-left:40px;
	margin-bottom:0;
	font-size: .88em;
	color:#000;
}

.about-project p + p{
	color:#a1a1a1;
	font-size: .8em;
}

.about-project.web-media-project:before{
	content: "";
    position: absolute;
    height: 30px;
    width: 30px;
	line-height:30px;
	background: #00afef url(../img/menu-icon/web_icon.png) top 2px left 2px;
    background-repeat: no-repeat;
    border-radius: 50%;
	color:#FFF;
	text-align:center;
}

.about-project p.web:before{
	content: "";
    position: absolute;
	left:11px;
    height: 30px;
    width: 30px;
	line-height:30px;
	background: #00afef url(../img/menu-icon/web_icon.png) top 2px left 2px;
    background-repeat: no-repeat;
    border-radius: 50%;
	color:#FFF;
	text-align:center;
}

.about-project.mobile-media-project:before{
	content: "";
    position: absolute;
    height: 30px;
    width: 30px;
	line-height:30px;
	background: #faab33 url(../img/menu-icon/mobile_icon.png) top 2px left 2px;
    background-repeat: no-repeat;
    border-radius: 50%;
	color:#FFF;
	text-align:center;
}

.about-project p.mobile:before{
	content: "";
    position: absolute;
	left:11px;
    height: 30px;
    width: 30px;
	line-height:30px;
	background: #faab33 url(../img/menu-icon/mobile_icon.png) top 2px left 2px;
    background-repeat: no-repeat;
    border-radius: 50%;
	color:#FFF;
	text-align:center;
}

.about-project.digital-media-project:before{
	content: "";
    position: absolute;
    height: 30px;
    width: 30px;
	line-height:30px;
	background: #ee4797 url(../img/menu-icon/digital_icon.png) top 0px left 3px;
    background-repeat: no-repeat;
    border-radius: 50%;
	color:#FFF;
	text-align:center;
}

.about-project p.digital:before{
	content: "";
    position: absolute;
	left:11px;
    height: 30px;
    width: 30px;
	line-height:30px;
	background: #ee4797 url(../img/menu-icon/digital_icon.png) top 0px left 3px;
    background-repeat: no-repeat;
    border-radius: 50%;
	color:#FFF;
	text-align:center;
}

.about-project.print-media-project:before{
	content: "";
    position: absolute;
    height: 30px;
    width: 30px;
	line-height:30px;
	background: #21b354 url(../img/menu-icon/print_icon.png) top 2px left 2px;
    background-repeat: no-repeat;
    border-radius: 50%;
	color:#FFF;
	text-align:center;
}

.about-project p.print:before{
	content: "";
    position: absolute;
	left:11px;
    height: 30px;
    width: 30px;
	line-height:30px;
	background: #21b354 url(../img/menu-icon/print_icon.png) top 2px left 2px;
    background-repeat: no-repeat;
    border-radius: 50%;
	color:#FFF;
	text-align:center;
}

.project-link{
	padding:0;
	text-align:center;
}

.project-link a {
	font-family: 'Lato', sans-serif;
	margin:15px 0;
	padding: 5px 30px;
	color: #FFF;
	background-color: #1e64a1;
	border:1px solid #1e64a1;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius:10px;
	text-decoration: none;
    text-transform: uppercase;
}

.project-link a:active, .project-link a:focus, .project-link a:hover {
	color: #FFF;
	background-color: #1e64a1;
	border-color: #1e64a1;
}

h1.current-title{
	font-size: 1em;
	background-color: #f1f1f1;
	padding: .5em;
	margin:0;
}

h1.current-title span{
	display: inline-block;
	width: 70%; /*72.5%*/
	padding: .25em;
	font-size: 1.2em;
}

.current-title .about-project{
	position: relative;
	float: right;
	width: 150px;
	display: block; 
	padding: 0;
}

.current-title .icon{
	margin: 0;
}

/*web*/
.link.web, .icon.web{
	background-image:url(../img/web_icon.png);
	background-color: #00afef;
}

.icon.web{ 
	background-position: center 2px; 
	background-repeat: no-repeat; 
}

header .web{ 
	background-color: #00afef; 
}

.web > .tile:hover{ 
	box-shadow: 0px 0px 7px #5DE4F5; 
} 

/*print*/
.link.print, .icon.print{
	background-image:url(assets/img/print_icon.png);
	background-color: #21b354;
}

.icon.print{ 
	background-position: center 4px; 
	background-repeat: no-repeat; 
}

header .print{ 
	background-color: #21B354; 
}

.print > .tile:hover{ 
	box-shadow: 0px 0px 7px #51EDA7; 
}

/*digital*/
.link.digital, .icon.digital{
	background-image:url(assets/img/digital_icon.png);
	background-color: #ee4797;
}

.icon.digital{ 
	background-position: 5px 2px; 
	background-repeat: no-repeat; 
}

header .digital{ 
	background-color: #ee4797; 
}

.digital > .tile:hover{ 
	box-shadow: 0px 0px 7px #ee4797; 
}

/*mobile*/
.link.mobile, .icon.mobile{
	background-image:url(assets/img/mobile_icon.png);
	background-color: #faab33; /*ef9032*/
}

.icon.mobile{ 
	background-position: center 2px; 
	background-repeat: no-repeat; 
}

header .mobile{ 
	background-color: #faab33; 
}

.mobile > .tile:hover{ 
	box-shadow: 0px 0px 7px #faab33; 
} 

/* ------------------------------------------------------------- *
 *  Form Elements
/* ------------------------------------------------------------- */

.form-inline .form-group {
  margin-bottom: 4px;
  display: inline-block;
}

.form-text {
  box-shadow: none;
  height: 39px;
  margin-bottom: 0px;
  padding: 4px 12px;
  vertical-align: middle;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 1px solid #dedede;
  background-color: transparent;
  font-size: 18px;
  font-style: italic;
}
.form-text:focus {
  border-color: transparent;
  outline: 0;
  -webkit-box-shadow: 0 0 0 1px rgba(111, 111, 111, 0.5);
  box-shadow: 0 0 0 1px rgba(111, 111, 111, 0.5);
}

.form-submit{
	font-size: 14px;
	font-weight: 300;
	background-color: #1e64a1;
	padding: 15px 30px;
	color: #fff;
	border: none;
	line-height: 1;
	letter-spacing: 0px;
	text-transform: uppercase;
	display: inline-block;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-o-transition: all 0.35s ease-in-out;
	-ms-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}

.form-submit:active, .form-submit:hover, .form-submit:focus {
	background-color: #1c5b92;
	color: #FFF;
	border: none;
	opacity: 1;
	text-decoration: none;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

/* ------------------------------------------------------------- *
 *  Footer
/* ------------------------------------------------------------- */

#footer {
    position: relative;
    color: #FFFFFF;
    font-size:14px;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
    background: #1E64A1;
    /* bottom: 0; */
    width: 100%;
}

#footer p{
	margin:0;
	padding:0;
}




